.about {
	position: relative;
	z-index: 0;
	max-width: 1675px;
	margin-bottom: 140px;
	background: #fff;
	padding-top: 60px;
	margin-top: -10px;

	@media(min-width: 768px) {
		margin-bottom: 0;
	}

	.container {
		position: relative;
	}

	&::after {
		position: absolute;
		z-index: -1;
		right: -150px;
		bottom: -25px;

		overflow: hidden;
		overflow-x: hidden;
		overflow-y: hidden;

		width: 600px;
		height: 600px;

		content: '';

		opacity: .7;
		background-image: url('../img/content-images/woman.jpg');
		background-repeat: no-repeat;
		background-position: 100% 50%;
		background-size: contain;

		@media(min-width: 768px) {
			bottom: 0;
		}

		@media(min-width: 1400px) {
			right: 0;

			width: 500px;
			height: 500px;

			opacity: 1;
		}

		@media(min-width: 1140px) {
			width: 950px;
			height: 950px;

			opacity: 1;
		}
	}

	&__title {
		margin-top: 0;
	}

	&__number {
		right: 15px;
	}

	&__content {
		max-width: 585px;
		margin-bottom: 200px;

		@media(min-width: 768px) {
			margin-bottom: 0;
		}
	}


	&__description {
		z-index: 5;

		margin-top: 0;
		margin-bottom: 30px;
	}

	&__list {
		max-width: 415px;
		margin: 0;
		padding-left: 0;

		list-style: none;
	}

	&__item {
		position: relative;
		z-index: 2;

		margin-bottom: 50px;
		padding-left: 65px;

		&::before {
			position: absolute;
			top: -12px;
			left: 0;

			width: 45px;
			height: 45px;
		}

		&--painless {
			&::before {
				content: url('../img/icons/painless.svg');
			}
		}

		&--security {
			&::before {
				content: url('../img/icons/security.svg');
			}
		}

		&--available {
			&::before {
				content: url('../img/icons/available.svg');
			}
		}
	}

	&__button {
		margin-top: 75px;
		&::after {
			content: '';
		}
		margin-left: calc(100% - 105px);


		padding-left: 65px;
		padding-right: 65px;

		@media(min-width: 1400px) {
			margin-top: -25px;
		}
	}
}
