.advantage {
	&__title {
		font-size: 16px;
		font-weight: 700;

		margin-top: 0;
		margin-bottom: 18px;

		@media(min-width: 768px) {
			font-size: 18px;
		}
	}

	&__text {
		font-size: 14px;
		font-weight: 400;

		margin: 0;
		max-width: 215px;

		@media(min-width: 650px) {
			max-width: 100%;
		}

		@media(min-width: 768px) {
			font-size: 16px;
		}
	}
}
