.contact {
	position: relative;

	&__title {
		margin-bottom: 70px;
	}

	&__subtitle {
		margin-top: 100px;

		@media(min-width: 768px) {
			text-align: center;
		}
	}

	&__wrapper {


		@media(min-width: 1024px) {
			display: flex;
		justify-content: space-between;
		}
	}

	&__info {

	}

	&__links {
		display: flex;
		margin-top: 30px;
	}

	&__adress {
		margin-bottom: 32px;
		position: relative;
		padding-left: 65px;

		&::before {
			position: absolute;
			content: url('../img/icons/map.svg');
			width: 42px;
			height: 42px;
			top: 0;
			left: 0;
		}
	}

	&__phone {
		position: relative;
		padding-left: 65px;

		&::before {
			position: absolute;
			content: url('../img/icons/phone.svg');
			left: 7px;
			top: 7px;
			width: 27px;
			height: 39px;
		}
	}

	&__link {
		text-emphasis: none;
		padding: 10px;
		border-radius: 100%;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
		width: 65px;
		height: 65px;
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: space-evenly;

		&--instagram {
			margin-right: 30px;
		}
	}



	&__map {
		&--mobile {
			margin-bottom: 24px;
			@media(min-width: 1024px) {
				display: none;
			}
		}
		&--desktop {
			display: none;

			@media(min-width: 1024px) {
				display: flex;
			}
		}
	}

	&__frame {
		&--mobile {
			width: 100%;
			height: 350px;
		}
		&--desktop {

		}
	}

	.phone__title, .adress__title {
		@include DesktopBody1Bold;
		margin-bottom: 13px;
		margin-top: 0;
	}

	.phone__text, .adress__text {
		font-size: 16px;
		margin: 0;

		@media(min-width: 768px) {
			@include DesktopBody1Regular;
		}

	}

}
