.contact {
  position: relative;

  &__title {
    margin-bottom: 70px;
  }

  &__wrapper {


    @media(min-width: 1024px) {
      padding: 120px 80px 120px 80px;
      background: url("../img/bg/map.webp");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0;
    padding-left: 0;
    list-style: none;
    gap: 30px;

    @media(min-width: 1024px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 100%;
    }
  }

  &__item {
    height: 320px;
    text-align: center;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 20px;
  }
  &__link {
    text-decoration: none;
    color: #184ffc;
  }
}
