.footer {
	display: flex;
	flex-direction: column;

	margin-top: 90px;
	margin-bottom: 75px;

	justify-content: space-between;

	@media(min-width: 1024px) {
		flex-direction: row;
	}

	&__logo {
		width: 157px;
		height: 36px;
		margin-left: calc(50% - 78.5px);

		@media(min-width: 1024px) {
			margin: 0;
		}
	}

	&__nav {
		@media(min-width: 1024px) {
			width: 460px;
		}
	}

	&__button {
		font-size: 14px;
		font-weight: 700;

		padding: 0;

		text-align: center;
		text-transform: uppercase;

		color: #49b462;
		border: none;
		background: transparent;

		align-items: center;
	}

	&__geo {
		width: 15px;
		height: 19px;
		margin-bottom: -5px;
		margin-right: 5px;
	}
}
