.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
  margin-bottom: 75px;
  flex-direction: column;

  @media(min-width: 1024px){
    flex-direction: row;
  }

  &__logo {
    width: 157px;
    height: 36px;
    margin-left: calc(50% - 78.5px);

    @media(min-width: 1024px){
      margin: 0;
    }
  }

  &__nav {
    @media(min-width: 1024px){
      width: 340px;
    }
  }

  &__button {
    align-items: center;
    padding: 0;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #49b462;
    text-transform: uppercase;
    background: transparent;
    border: none;
  }

  &__geo {
    width: 15px;
    height: 19px;
    margin-bottom: -5px;
  }
}
