.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
  margin-bottom: 75px;

  &__logo {
    width: 157px;
    height: 36px;
  }

  &__nav {
    width: 460px;
  }

  &__button {
    align-items: center;
    padding: 0;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #49b462;
    text-transform: uppercase;
    background: transparent;
    border: none;
  }

  &__geo {
    width: 15px;
    height: 19px;
    margin-bottom: -5px;
  }
}
