.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding-top: 35px;
	position: relative;
	z-index: 3;

	@media(min-width: 1024px) {
		flex-direction: row;
		flex-wrap: nowrap;
	}

	&__ap {
		display: flex;
	}

	&__mobile {
		position: absolute;
		top: 90px;
		left: 0;

		display: none;
		flex-direction: column;
		align-items: center;
		width: calc(100% - 60px);
		padding: 50px 30px;

		background: #ffffff;
		border-radius: 20px;
		box-shadow: 0 0 100px 1px rgba(0, 0, 0, 0.1);

		&--active {
			display: flex;
		}

		.header {

			&__nav {
				display: flex;
			}

			&__adress {
				display: block;
			}

			&__phone {
				display: block;
			}
		}
	}

	&__right {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: -25px;

		@media(min-width: 1024px) {
			display: none;
		}
	}

	&__logo {
		margin-bottom: 30px;

		@media(min-width: 1024px) {
			margin-bottom: 0;
		}
	}

	&__nav {
		display: none;

		@media(min-width: 1024px) {
			display: flex;
		}

		.nav__list {
			margin-top: 0;
			margin-bottom: 30px;

			@media(min-width: 1024px) {
				width: 340px;
				margin-bottom: 0;
			}
		}
	}

	&__adress {
		position: relative;

		display: none;
		margin-top: 0;
		margin-bottom: 0;
		margin-bottom: 30px;
		padding-left: 30px;

		font-weight: 700;
		font-size: 12px;
		line-height: 16px;
		font-family: Mulish;
		color: #183119;

		@media(min-width: 1024px) {
			display: block;
			margin-right: 50px;
			margin-bottom: 0;
		}

		&::before {
			content: url("../img/icons/geo.svg");
			position: absolute;
			top: 5px;
			left: 0;

			width: 24px;
			height: 24px;
		}
	}

	&__phone {
		position: relative;

		display: none;
		padding-left: 37px;

		@media(min-width: 1024px) {
			display: block;
		}

		&::before {
			content: url("../img/icons/call.svg");
			position: absolute;
			top: 10px;
			left: 0;

			width: 24px;
			height: 24px;
		}
	}

	&__number {
		margin-top: 0;
		margin-bottom: 5px;

		font-weight: 700;
		font-size: 18px;
		color: #49b462;
	}

	&__clock {
		margin-top: 0;
		margin-bottom: 0;

		font-weight: 600;
		font-size: 12px;
	}

	&__burger {
		position: relative;

		margin: 0;

		background: transparent;
		border: none;

		@media(min-width: 1024px) {
			display: none;
			padding-right: 0;
		}
	}

	&__tel {
		margin-right: 20px;
	}
}
