.header {
	display: flex;

	padding-top: 35px;

	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	@media(min-width: 1024px) {
		flex-direction: row;

		flex-wrap: nowrap;
	}

	&__ap {
		display: flex;
	}

	&__mobile {
		position: absolute;
		z-index: 3;
		top: 0;
		right: 0;

		display: none;
		flex-direction: column;

		width: 100%;
		padding: 50px 30px;

		border-radius: 20px;
		background: #fff;
		box-shadow: 0 0 100px 1px rgba(0, 0, 0, .1);

		align-items: center;

		&--active {
			position: relative;

			display: flex;
		}

		.header {
			&__close {
				position: absolute;
				top: 30px;
				right: 30px;

				border: none;
				background: transparent;
			}

			&__nav {
				display: flex;
			}

			&__adress {
				display: block;
			}

			&__phone {
				display: block;
			}
		}
	}

	&__right {
		display: flex;

		margin-top: -25px;

		justify-content: space-between;
		align-items: center;

		@media(min-width: 1024px) {
			display: none;
		}
	}

	&__logo {
		margin-bottom: 30px;

		@media(min-width: 1024px) {
			margin-bottom: 0;
		}
	}

	&__nav {
		display: none;

		@media(min-width: 1024px) {
			display: flex;
		}

		.nav__list {
			margin-top: 0;
			margin-bottom: 30px;

			@media(min-width: 1024px) {
				width: 340px;
				margin-bottom: 0;
			}
		}
	}

	&__adress {
		font-family: Mulish;
font-size: 12px;
font-weight: 700;
line-height: 16px;


		position: relative;

		display: none;

		margin-top: 0;
		margin-bottom: 0;
		margin-bottom: 30px;
		padding-left: 30px;

		color: #183119;

		@media(min-width: 1024px) {
			display: block;

			margin-bottom: 0;
			margin-right: 50px;
		}

		&::before {
			position: absolute;
			top: 5px;
			left: 0;

			width: 24px;
			height: 24px;

			content: url('../img/icons/geo.svg');
		}
	}

	&__phone {
		position: relative;

		display: none;

		padding-left: 37px;

		@media(min-width: 1024px) {
			display: block;
		}

		&::before {
			position: absolute;
			top: 10px;
			left: 0;

			width: 24px;
			height: 24px;

			content: url('../img/icons/call.svg');
		}
	}

	&__number {
		font-size: 18px;
		font-weight: 700;

		margin-top: 0;
		margin-bottom: 5px;

		color: #49b462;
	}

	&__clock {
		font-size: 12px;
		font-weight: 600;

		margin-top: 0;
		margin-bottom: 0;
	}

	&__burger {
		position: relative;
		background: transparent;
		border: none;
		margin: 0;

		@media(min-width: 1024px) {
			display: none;

			padding-right: 0;
		}
	}
	&__tel {
		margin-right: 20px;
	}
}
