.header {
	display: flex;

	padding-top: 35px;

	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	@media(min-width: 1024px) {
		flex-direction: row;

		flex-wrap: nowrap;
	}

	&__mobile {
		position: absolute;
		z-index: 3;
		top: 0;
		right: 0;

		display: none;
		flex-direction: column;

		width: 100%;
		padding: 50px 30px;

		border-radius: 20px;
		background: #fff;
		box-shadow: 0 0 100px 1px rgba(0, 0, 0, .1);

		align-items: center;

		&--active {
			position: relative;

			display: flex;
		}

		.header {
			&__close {
				position: absolute;
				top: 30px;
				right: 30px;

				border: none;
				background: transparent;
			}

			&__nav {
				display: flex;
			}

			&__adress {
				display: block;
			}

			&__phone {
				display: block;
			}
		}
	}

	&__right {
		display: flex;

		margin-top: -25px;

		justify-content: space-between;
		align-items: center;

		@media(min-width: 768px) {
			width: 10%;
		}

		@media(min-width: 1024px) {
			display: none;
		}
	}

	&__logo {
		margin-bottom: 30px;

		@media(min-width: 1024px) {
			margin-bottom: 0;
		}
	}

	&__nav {
		display: none;

		@media(min-width: 1024px) {
			display: flex;
		}

		.nav__list {
			margin-top: 0;
			margin-bottom: 30px;

			@media(min-width: 1024px) {
				width: 340px;
				margin-bottom: 0;
			}
		}
	}

	&__adress {
		font-size: 12px;
		font-weight: 600;

		position: relative;

		display: none;

		margin-top: 0;
		margin-bottom: 0;
		margin-bottom: 30px;
		padding-left: 30px;

		color: #183119;

		@media(min-width: 1024px) {
			display: block;

			margin-bottom: 0;
		}

		&::before {
			position: absolute;
			top: 7px;
			left: 0;

			width: 15px;
			height: 19px;

			content: url('../img/icons/geo.png');
		}
	}

	&__phone {
		position: relative;

		display: none;

		padding-left: 30px;

		@media(min-width: 1024px) {
			display: block;
		}

		&::before {
			position: absolute;
			top: 15px;
			left: 0;

			width: 19px;
			height: 19px;

			content: url('../img/icons/call.png');
		}
	}

	&__number {
		font-size: 18px;
		font-weight: 700;

		margin-top: 0;
		margin-bottom: 5px;

		color: #49b462;
	}

	&__clock {
		font-size: 12px;
		font-weight: 600;

		margin-top: 0;
		margin-bottom: 0;
	}

	&__tel {
		width: 19px;
		height: 19px;
	}

	&__burger {
		position: relative;

		display: block;

		width: 20px;
		height: 37px;
		margin-left: 20px;

		border: none;
		border-radius: 50%;
		background: transparent;

		@media(min-width: 768px) {
			margin-left: 0;
		}

		@media(min-width: 1024px) {
			display: none;

			padding-right: 0;
		}
	}

	&__burger span,
	&__burger span::before,
	&__burger span::after {
		position: absolute;
		top: 50%;
		left: 50%;

		width: 20px;
		height: 2px;
		margin-top: -1px;
		margin-left: -10px;

		background-color: #49b462;
	}

	&__burger span::before,
	&__burger span::after {
		display: block;

		content: '';
		transition: .2s;
	}

	&__burger span::before {
		transform: translateY(-5px);
	}

	&__burger span::after {
		transform: translateY(5px);
	}

	&__burger--active span:before {
		width: 10px;

		transform: rotate(-35deg);
		transform-origin: left bottom;
	}

	&__burger--active span:after {
		width: 10px;

		transform: rotate(35deg);
		transform-origin: left top;
	}
}
