.nav {

  &__list {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    list-style: none;
  }

  &__item {
    font-weight: 700;
    font-size: 14px;
    color: #183119;
    text-transform: uppercase;
  }
}
