.nav {
	&__list {
		line-height: 3;

		display: flex;
		flex-direction: column;

		padding-left: 0;

		list-style: none;

		text-align: center;

		justify-content: space-between;

		@media(min-width: 1024px) {
			line-height: 1;

			flex-direction: row;

			text-align: left;
		}
	}



	&__link {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		font-weight: 700;

		text-decoration: none;
		text-transform: uppercase;

		color: #183119;

		&--active {
			color: #49b462;
		}
	}
}
