.offer {
	&s {
		&__list {
			display: grid;
			margin: 0;
			padding-left: 0;

			list-style-type: none;

			gap: 20px;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr;

			@media(min-width: 560px) {
				margin-left: calc(50% - 292.5px);
			}


			@media(min-width: 1260px) {
				margin: 0;

				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr 1fr;
			}
		}

		&__item {
			position: relative;
			z-index: -2;

			max-width: 585px;
			padding-top: 35px;
			padding-bottom: 35px;
			padding-left: 35px;
			overflow: hidden;

			background: #f6a5ab;
			border-radius: 20px;
			box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);

			@media(min-width: 560px) {
				z-index: auto;

				background: #ffffff;
			}
		}

		&__title {
			margin-top: 50px;

			@media(min-width: 768px) {
				margin-top: 90px;
			}
		}
	}

	&__title {
		margin-top: 0;
		margin-bottom: 40px;

		font-weight: 600;
		font-size: 18px;
	}

	&__list {
		padding-left: 0;

		list-style-type: none;
	}

	&__item {
		font-weight: 400;
		font-size: 16px;
		line-height: 30px;
	}

	&__prices {
		display: flex;
		align-items: center;
		margin-top: 45px;
		margin-left: calc(50% - 68px);

		@media(min-width: 560px) {
			margin-left: 0;
		}
	}

	&__price {
		margin: 0;
		margin-right: 10px;

		font-weight: 700;
		font-size: 24px;
		color: #f91155;
	}

	&__subprice {
		position: relative;

		margin: 0;

		font-weight: 600;
		font-size: 14px;

		&::after {
			content: "";
			position: absolute;
			top: 7px;
			left: -2px;

			width: 50px;
			height: 1px;

			background: #f91155;
			transform: rotate(-5deg);
		}
	}

	&__img {
		position: absolute;
		right: -15px;
		bottom: 0;
		z-index: -1;

		width: 300px;

		border-radius: 200px 20px 20px 200px;

		@media(min-width: 560px) {
			right: 0;
			z-index: inherit;

			height: 100%;

			border-radius: 0 20px 20px 0;
		}
	}

	&::after {
		content: "до 31 декабря";
		position: absolute;
		right: 0;
		bottom: 0;

		width: 132px;
		height: 26px;

		font-weight: 700;
		font-size: 14px;
		line-height: 30px;
		text-align: center;
		color: #000000;

		background-color: #e5e5e5;
		border-radius: 20px 0 20px 0;
		;
	}
}
