.prepare {
	font-size: 14px;
	font-weight: 700;

	margin-top: 0;
	margin-bottom: 40px;

	color: $green;

font-size: 18px;
font-weight: 700;
line-height: 25px;


	&__title {
		margin: 0;
		margin-bottom: 24px;
	}
}
