.promo {
	margin-bottom: 65px;

	@media(min-width: 1024px) {
		margin-bottom: 0;
	}

	&__slider {
		z-index: 0;
	}

	.swiper {
		&-container {
			padding-bottom: 45px;

			@media(min-width: 1024px) {
				height: 550px;
				padding-bottom: 0;
			}
		}



		&-pagination {
			z-index: 10;
			bottom: 0;
			left: 0;

			transition: .3s;

			@media(min-width: 1024px) {
				bottom: 35px;
			}

			&-bullet {
				z-index: 10;

				width: 30px;
				height: 2px;
				margin: 0 10px;

				border-radius: 0;
				background-color: #000;

				&-active {
					font-size: 24px;

					background-color: #49b462;
				}
			}
		}
	}

	&__slide--1 {
		padding-bottom: 105px;
	}



	&__title {
		font-size: 14px;

		position: relative;

		width: 146px;
		margin-top: 50px;
		margin-bottom: 30px;

		&::after {
			position: absolute;
			top: 0;
			right: -20px;

			width: 4px;
			height: 18px;

			content: '';

			background-color: #49b462;
		}
	}

	&__subtitle {
		font-size: 40px;

		text-align: center;

		@media(min-width: 1024px) {
			font-size: 70px;

			max-width: 440px;

			text-align: left;
		}
	}

	&__description {
		margin-top: 0;
		margin-bottom: 35px;

		text-align: center;

		@media(min-width: 1024px) {
			text-align: left;
		}
	}

	&__buttons {
		width: fit-content;
		margin: 0 auto;

		text-align: center;

		@media(min-width: 1024px) {
			position: relative;

			display: flex;

			width: auto;
			margin: 0;
		}
	}

	&__button {
		position: relative;

		padding-top: 14px;
		padding-bottom: 14px;

		@media(min-width: 1024px) {
			margin: 0;
		}

		&--sign {
			width: 255px;
			margin-left: 27px;
			padding-right: 95px;
			padding-left: 52px;

			@media(min-width: 1024px) {
				margin-right: 20px;
				margin-left: 0;
			}

			&::after {
				position: absolute;
				top: 14px;
				right: 50px;

				width: 23px;
				height: 23px;

				content: url('../img/icons/bag-edit.png');
			}
		}

		&--whatsapp {
			width: fit-content;
			margin-top: 30px;
			margin-left: 0;
			padding-right: 30px;
			padding-right: 30px;
			padding-left: 30px;
			padding-left: 70px;

			color: #377c4e;
			border: 2px solid #377c4e;
			background: none;

			&::before {
				position: absolute;
				top: 9px;
				left: 25px;

				width: 25px;
				height: 25px;
				margin-top: 0;

				content: url('../img/icons/whatsapp.svg');
			}

			@media(min-width:1024px) {
				margin-top: 0;
			}
		}
	}

	&__img {
		display: none;

		@media(min-width:1024px) {
			position: absolute;
			top: 110px;
			right: 0;

			display: block;
		}
	}
}
