.promo {
	position: relative;

	@media(min-width: 768px) {
		display: flex;
	justify-content: space-between;
	}

	@media(min-width: 1024px) {
		margin-top: 150px;
	}

	&__left {
		max-width: 445px;
	}

	&__title {
		@include MobileHeadline1;
		color: $green;
		margin: 0;

		@media(min-width: 768px) {
			@include TabletHeadline1;
		}

		@media(min-width: 1024px) {
			@include DesktopHeadline1;
		}
	}

	&__text {
		@include MobileBody1Regular;
		margin-top: 0;
		margin-bottom: 40px;

		@media (min-width:768px) {
			@include TabletBody1Regular;
			margin-bottom: 65px;
		}

		@media (min-width:1024px) {
			@include DesktopBody1Regular;
		}
	}

	&__img {
		position: absolute;
		top: 90px;
		right: -45%;
		width: 263px;
		height: auto;

		@media(min-width: 420px) {
			right: -10%;
		}

		@media(min-width: 768px) {
			display: none;
		}

		@media(min-width: 1024px) {
			display: block;
			position: static;
			width: 100%;
			height: auto;
			top: 100px;
		}
	}

	&__buttons {
		&--1 {
			display: none;
		}

		@media(min-width: 768px) {
			&--1 {
				display: block;
			}

			&--2 {
				display: none;
			}
		}
	}

	.button--sign {
		margin-bottom: 30px;
	}

	&__numbers {

	}

	&__list {
		padding-left: 0;
		list-style: none;
		margin: 0;
		text-align: left;

		@media(min-width: 768px) {
			text-align: right;
		}

	}

	&__item {
		margin-bottom: 40px;
		max-width: 185px;
	}

	&__number {
		color: $green;
		font-weight: 700;
		margin: 0;
		font-size: 30px;
		line-height: 36px;

		@media(min-width: 1024px) {

		}

		@media(min-width: 768px) {
			font-size: 50px;
			line-height: 63px;

		}
	}

	&__description {
		@include MobileBody1Regular;
		margin: 0;

		@media(min-width: 768px) {
			@include TabletBody1Regular;
		}

		@media(min-width: 1024px) {
			@include DesktopBody1Regular;
		}
	}
}
