.profits__item {
	background-color: #fff;

	&:hover {
		background-color: $green;
	}
}

.profit {
	height: 290px;
	box-shadow: 0px 4px 4px 0px #00000040;
	position: relative;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&:hover
	{
		transition: .3s;

		color: #fff;

		.discount__item::before
		{
			content: url('../img/icons/heart-active.svg');
		}

		.discount__price--disable,
		.discount__price--active
		{
			color: #f8db3d;
		}

		.discount__price--disable::after
		{
			content: url('../img/icons/price-disable-active.svg');
		}
	}

	@media(min-width: 768px) {
		height: 465px;
	}


	&--1 {
		background-image: url('../img/content-images/benefit-1.png');
	}

	&--2 {
		background-image: url('../img/content-images/benefit-2.png');
	}

	&--3 {
		background-image: url('../img/content-images/benefit-3.png');
	}

	&--4 {
		background-image: url('../img/content-images/benefit-4.png');
	}

	&--right {
		padding-left: 150px;
		padding-right: 10px;
		background-position: 0 0;

		.discount__button {
			margin-left: 10%;

			@media(min-width: 768px) {
				margin-left: 0;
			}
		}

		@media(min-width: 768px) {
			padding-left: 275px;
			padding-right: 30px;
		}
	}

	&--left {
		padding-right: 150px;
		background-position: 100% 100%;
		padding-left: 10px;

		.discount__button {
			margin-left: 5%;

			@media(min-width: 768px) {
				margin-left: 0;
			}
		}

		@media(min-width: 768px) {
			padding-right: 275px;
			padding-left: 30px;
		}

		.profit__img {
			right: 0;
		}
	}

	&__title {
font-size: 18px;
font-weight: 700;
line-height: 22px;


		@media(min-width: 768px) {
			font-size: 24px;
font-weight: 700;
line-height: 29px;
max-width: none;
		}
	}

	.discount {
		&__item {
font-size: 15px;
line-height: 21px;

	@media(min-width: 768px) {
		font-size: 18px;
		line-height: 25.2px;
	}
		}


		&__title {
		margin-top: 16px;
		margin-bottom: 16px;

		@media(min-width: 768px) {
			margin-top: 30px;
			margin-bottom: 24px;
		}
		}
		&__button {
			margin-top: 15px;
			margin-bottom: 16px;
			width: 80%;

			@media(min-width: 768px) {
				margin-bottom: 30px;
				margin-left: 0;
				// width: 235px;
				// padding-left: 65px;
				// padding-right: 65px;
				width: 100%;
				// margin-left: calc(50% - 117.5px);
			}
		}
		&__prices {
			margin-left: calc(50% - 100px);
		}
		&__price {
			&--active {
				margin-left: 56px;
				font-size: 18px;

				@media(min-width: 768px) {

					font-size: 24px;
				}
			}
		}

}
}
