.reviews {

  &__title {}

  &__subtitle {}

  &__slider {
    z-index: 15;
    padding: 50px 30px;
  }

  .slider {

    &__item {
      max-width: 310px;
      padding: 35px 35px 50px 35px;
      border-radius: 20px;
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    }
  }

  .slide {

    &__author {
      display: flex;
      align-items: center;
      margin-bottom: 25px;
    }

    &__mark {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 230px;
      margin-bottom: 40px;
    }

    &__text {
      margin-top: 0;
      margin-bottom: 35px;
      font-weight: 400;
      font-size: 14px;
    }

    &__copyright {
      margin: 0;
      font-weight: 400;
      font-size: 14px;
    }

    &__link {
      font-weight: 400;
      font-size: 14px;
      text-decoration: none;
    }
  }

  .author {

    &__icon {
      width: 18px;
      height: 18px;
      padding: 15px;
      background-color: rgba(73, 180, 98, 0.2);
      border-radius: 100%;
    }

    &__name {
      margin: 0 0 0 18px;
      font-weight: 700;
      font-size: 16px;
    }
  }

  .mark {

    &__ball {
      margin: 0;
      font-weight: 700;
      font-size: 16px;
    }

    &__stars {}

    &__star {
      width: 12px;
      height: 12px;
    }

    &__word {
      margin: 0;
      font-weight: 400;
      font-size: 14px;

      &--best {
        color: #49b462;
      }

      &--good {
        color: #ffc107;
      }

      &--ok {
        color: #de994e;
      }
    }
  }

  .swiper-pagination {
    bottom: 0px;
    left: 0px;
    align-items: center;
    padding-bottom: 3px;

    &-bullet {
      width: 8px;
      height: 8px;
      background-color: #e5e5e5;
      margin: 0px 8px;

      &-active {
        width: 16px;
        height: 16px;
        background-color: #3bd45f;
        margin-bottom: -5px;
        margin: 0px 4px -5px 4px;
      }
    }
  }
}
