.reviews {
	position: relative;



	&__subtitle {
		max-width: 260px;
		margin-bottom: 20px;
	}

	&__slider {
		z-index: 0;

		padding: 50px 30px;
	}

	.slider {
		&__item {
			width: auto;

			background: #ffffff;
			border-radius: 20px;
			box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);

			@media(min-width: 1024px) {
				width: 380px;
			}
		}
	}

	.swiper-slide {
		width: auto;
	}

	.slide {
		&__author {
			display: flex;
			align-items: center;
			margin-bottom: 25px;
			padding-top: 35px;
			padding-left: 35px;
		}

		&__mark {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			margin-bottom: 40px;
			margin-left: 35px;

			@media(min-width: 1024px) {
				width: 230px;
			}
		}

		&__text {
			max-width: 275px;
			margin-top: 0;
			margin-bottom: 35px;
			margin-left: 35px;

			font-weight: 400;
			font-size: 14px;
		}

		&__copyright {
			margin: 0;
			margin-left: 35px;
			padding-bottom: 50px;

			font-weight: 400;
			font-size: 14px;
		}

		&__link {
			font-weight: 400;
			font-size: 14px;
			text-decoration: none;
		}
	}

	.author {
		&__icon {
			width: 18px;
			height: 18px;
			padding: 15px;

			background-color: rgba(73, 180, 98, 0.2);
			border-radius: 100%;
		}

		&__name {
			margin: 0 0 0 18px;

			font-weight: 700;
			font-size: 16px;
		}
	}

	.mark {
		&__ball {
			margin: 0 20px 0 0;

			font-weight: 700;
			font-size: 16px;
		}

		&__stars {
			margin-right: 20px;
		}

		&__star {
			width: 12px;
			height: 12px;
		}

		&__word {
			margin: 0;

			font-weight: 400;
			font-size: 14px;

			&--best {
				color: #49b462;
			}

			&--good {
				color: #ffc107;
			}

			&--ok {
				color: #de994e;
			}
		}
	}

	.swiper-pagination {
		bottom: 0;
		left: 0;

		align-items: center;
		padding-bottom: 3px;

		&-bullet {
			width: 8px;
			height: 8px;
			margin: 0 8px;

			background-color: #e5e5e5;

			&-active {
				width: 16px;
				height: 16px;
				margin: 0 4px -5px 4px;
				margin-bottom: -5px;

				background-color: #3bd45f;
			}
		}
	}
}
