.section {
  position: relative;

  &__number {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    color: #e5e5e5;

    &--big {
      margin-top: 0;
      margin-right: 5px;
      margin-bottom: 0;
      font-weight: 700;
      font-size: 36px;
    }
  }

  &__title {
    margin-top: 150px;
    margin-bottom: 55px;
    font-weight: 700;
    font-size: 20px;
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 36px;
    color: #49b462;
  }
}
