.section {
	position: relative;

	&__number {
		font-size: 12px;
		font-weight: 400;

		position: absolute;
		top: 0;
		right: 0;

		display: flex;

		margin: 0;

		color: #e5e5e5;

		@media(min-width: 768px) {
			font-size: 20px;
		}

		&--big {
			font-size: 18px;
			font-weight: 700;

			margin-top: 0;
			margin-right: 5px;
			margin-bottom: 0;

			@media(min-width: 768px) {
				font-size: 36px;
			}
		}
	}

	&__title {
		font-size: 20px;
		font-weight: 700;

		margin-top: 90px;
		margin-bottom: 55px;

		@media(min-width: 768px) {
			margin-top: 150px;
		}
	}

	&__subtitle {
		font-size: 32px;
		font-weight: 700;

		margin-top: 0;
		margin-bottom: 35px;

		color: #49b462;

		@media(min-width: 768px) {
			font-size: 36px;
		}
	}

	&__description {
		font-size: 16px;
		font-weight: 400;

		@media(min-width: 768px) {
			font-size: 18px;
		}
	}
}
