.section {

  &__title {
    margin-top: 150px;
    margin-bottom: 55px;
    font-weight: 700;
    font-size: 20px;
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 36px;
    color: #49b462;
  }
}
