.stock {
	position: relative;

	padding-top: 50px;
	padding-left: 35px;

	background: #f6a5ab;
	background-image: url("../img/content-images/stock-woman-rect.jpg");
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: auto;
	border-radius: 20px;



	@media(min-width: 1024px) {
		background: #ffffff;
	}


	@media(min-width: 1024px) {
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 165px;

		&::before {
			content: "Акция!";
			position: absolute;
			top: 145px;
			left: -50px;

			width: 251px;
			height: 81px;

			font-weight: 700;
			font-size: 70px;
			color: #49b462;

			transform: rotate(270deg);
			opacity: 0.2;
		}
	}


	&__title {
		position: relative;

		width: 100px;
		margin-top: 85px;

		font-size: 14px;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: -20px;

			width: 4px;
			height: 18px;

			background-color: #49b462;
		}
	}

	&__subtitle {
		margin-top: 0;
		margin-bottom: 40px;

		font-weight: 600;
		font-size: 18px;
		color: #000000;
	}

	&__list {
		margin-top: 0;
		margin-bottom: 72px;
		padding-left: 0;

		list-style: none;
	}

	&__item {
		font-size: 16px;
		line-height: 30px;
		color: #000000;
	}

	&__price {
		margin-bottom: 20px;

		font-weight: 600;
		font-size: 30px;
		text-align: center;
		color: #f91155;

		@media(min-width: 1024px) {
			width: 250px;
			margin: 0;
		}


		&--old {
			margin-left: 10px;

			font-size: 14px;
			color: #000000;
			text-decoration: line-through;
		}
	}

	&__flex {
		display: flex;
		flex-direction: column-reverse;
		order: reverse;

		vertical-align: baseline;

		@media(min-width: 1024px) {
			flex-direction: row;
		}
	}

	&__button {
		margin: 0 auto;
		margin-bottom: 35px;


		@media(min-width: 1024px) {
			margin: 0;
			margin-right: 15px;
		}
	}

	&__img {
		display: none;

		@media(min-width: 1024px) {
			position: absolute;
			top: 0;
			right: 0;

			display: block;
			width: auto;
			height: 100%;

			border-radius: 0 20px 20px 0;
		}
	}
}
