.stock
{
	position: relative;

	padding-top: 50px;
	padding-left: 35px;

	border-radius: 20px;
	background: #f6a5ab;
	background-image: url('../img/content-images/stock-woman-rect.jpg');
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: auto;



	@media(min-width: 1024px)
	{
		background: #fff;
	}


	@media(min-width: 1024px)
	{
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 165px;

		&::before
		{
			font-size: 70px;
			font-weight: 700;

			position: absolute;
			top: 145px;
			left: -50px;

			width: 251px;
			height: 81px;

			content: 'Акция!';
			transform: rotate(270deg);

			opacity: .2;
			color: #49b462;
		}
	}


	&__title
	{
		font-size: 14px;

		position: relative;

		width: 100px;

		margin-top: 85px;

		&::after
		{
			position: absolute;
			top: 0;
			right: -20px;

			width: 4px;
			height: 18px;

			content: '';

			background-color: #49b462;
		}
	}

	&__subtitle
	{
		font-size: 18px;
		font-weight: 600;

		margin-top: 0;
		margin-bottom: 40px;

		color: #000;
	}

	&__list
	{
		margin-top: 0;
		margin-bottom: 72px;
		padding-left: 0;

		list-style: none;
	}

	&__item
	{
		font-size: 16px;
		line-height: 30px;

		color: #000;
	}

	&__price
	{
		font-size: 30px;
		font-weight: 600;

		margin-bottom: 20px;

		text-align: center;

		color: #f91155;

		@media(min-width: 1024px)
		{
			width: 250px;
			margin: 0;
		}


		&--old
		{
			font-size: 14px;

			margin-left: 10px;

			text-decoration: line-through;

			color: #000;
		}
	}

	&__flex
	{
		display: flex;
		flex-direction: column-reverse;

		vertical-align: baseline;

		order: reverse;

		@media(min-width: 1024px)
		{
			flex-direction: row;
		}
	}

	&__button
	{
		margin: 0 auto;
		margin-bottom: 35px;


		@media(min-width: 1024px)
		{
			margin: 0;
			margin-right: 15px;
		}
	}

	&__img
	{
		display: none;
		@media(min-width: 1024px)
		{
			position: absolute;
			top: 0;
			right: 0;

			display: block;

			width: auto;
			height: 378px;

			border-radius: 0 20px 20px 0;
		}
	}
}
