.stock {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 165px;
	border-radius: 20px;
	background: #fff;
	position: relative;

	&::before {
		position: absolute;
		transform:rotate(270deg);
		font-size: 70px;
		font-weight: 700;
		content: 'Акция!';
		opacity: 0.2;
		color: #49b462;
		left: -50px;
		top: 145px;
		width: 251px;
		height: 81px;
	}


	&__title {
		font-size: 14px;
	 position: relative;
	 width: 100px;

	 &::after {
		position: absolute;
		top: 0;
		content: '';
		right: -20px;
		width: 4px;
		height: 18px;
		background-color: #49b462;
	 }
	}

	&__subtitle {
		font-size: 18px;
		font-weight: 600;
		color: #000;
		margin-top: 0;
		margin-bottom: 40px;
	}

	&__list {
		margin-top: 0;
		margin-bottom: 72px;
		padding-left: 0;
		list-style: none;
	}

	&__item {
		font-size: 16px;
		line-height: 30px;
		color: #000;
	}

	&__price {
		font-size: 30px;
		font-weight: 600;
		color: #f91155;
		margin: 0;


		&--old {
			font-size: 14px;
			color: #000;
			text-decoration: line-through;
			margin-left: 10px;
		}
	}

	&__flex {
		display: flex;
		vertical-align: baseline;
	}

	&__button {
		margin-right: 35px;
	}

	&__img {
		position: absolute;
		width: auto;
		height: 378px;
		top: 0;
		right: 0;
		border-radius: 0 20px 20px 0;
	}
}
