.benefits {
	&-page {
		background: linear-gradient(180deg, #FCF1D3 0%, rgba(252, 242, 215, 0) 100%),
linear-gradient(0deg, #FFFFFF, #FFFFFF);

	&__footer {
		margin-top: 120px;
	}
	}

	margin-top: 150px;
	&__title {
		margin-top: 0;
		margin-bottom: 0;
	}
	&__profits {
		margin-top: 30px;
		display: grid;
		gap: 30px;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}
	&__links {
		display: flex;
		margin-top: 55px;
	}
	&__follow {
		width: 50%;
	}
	&__action {
			margin-top: 0;
			color: $green;
			margin-bottom: 30px;
font-size: 24px;
font-weight: 700;
line-height: 26px;
		}
		&__ask {
			display: flex;

			img {
				width: 33px;
				height: 33px;
			}
		}
}

.ask {
	&__phone {
     	box-shadow: 0 0 10px rgba(0, 0, 0, .25);
      display: flex;
      align-items: center;
      border-radius: 50px;
      text-decoration: none;
      padding: 16px;
      margin-right: 24px;
      background-color: #fff;
	}

	&__text {
font-size: 18px;
font-weight: 600;
line-height: 25px;
color: $green;
margin-left: 12px;
text-decoration: none;
margin-top: 0;
margin-bottom: 0;
	}
}
