.index-page {
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;

	font-family: "Mulish", sans-serif;

	background: linear-gradient(#fcf1d3 0%, #f6e9c5 40%, #ffffff 60%);

	&__bg {
		background: linear-gradient(#fcf1d3 0%, #f6e9c5 40%, #ffffff 60%);
	}
}

.header-promo {
	position: relative;

	background: #fcf1d3;
}

.reviews-contact-footer {
	position: relative;

	background: linear-gradient(179.81deg, #f5e9c3 5.03%, rgba(245, 233, 195, 0) 61.76%);

	.wave {
		position: absolute;
		bottom: 99%;

		width: 100%;
	}
}
