@mixin DesktopHeadline1 {
	font-weight: 700;
	font-size: 64px;
	line-height: 70px;
}

@mixin DesktopHeadline2 {
	font-weight: 900;
	font-size: 34px;
	line-height: 37px;
}

@mixin DesktopHeadline3 {
	font-weight: 700;
	font-size: 32px;
	line-height: 38px;
}

@mixin DesktopHeadline4 {
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
}

@mixin DesktopHeadline5 {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
}

@mixin TabletHeadline1 {
	font-weight: 700;
	font-size: 48px;
	line-height: 53px;
}

@mixin TabletHeadline2 {
	font-weight: 700;
	font-size: 32px;
	line-height: 38px;
}

@mixin TabletHeadline3 {
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
}

@mixin TabletHeadline4 {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
}

@mixin TabletHeadline5 {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
}

@mixin MobileHeadline1 {
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
}

@mixin MobileHeadline2 {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
}

@mixin MobileHeadline3 {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
}

@mixin MobileHeadline4 {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
}

@mixin MobileHeadline5 {
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
}

@mixin DesktopBody1Regular {
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
}

@mixin DesktopBody1Bold {
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
}

@mixin DesktopBody2Bold {
	font-weight: 700;
	font-size: 16px;
	line-height: 25px;
}

@mixin DesktopBody2Regular {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
}

@mixin DesktopBody2Light {
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
}

@mixin DesktopBody3Regular {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}

@mixin TabletBody1Regular {
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
}

@mixin TabletBody2Regular {
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
}

@mixin MobileBody1Regular {
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
}

@mixin MobileBody2 {
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
}

@mixin BottonLinkLarge {
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
}

@mixin BottonLinkNormal {
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
}

@mixin BottonLinkMedium {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}

@mixin BottonLinkSmall {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
}

@mixin BottonLinkExtrasmall {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
}

@mixin FieldsTextPlaceholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

@mixin FieldsTextTitle {
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
}

@mixin FieldsTextDescription {
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
}
